extends ../layouts/default

block content
  .rw
    .cl
      
      h1 Pages

      .clf
        .r
          a(href="/pages/new").bt.s.rd New page

      if docs.length == 0
        .ab.e Could not find any page.
          a.x(href="#") &times;
      else
        table
          tbody
            for page in docs
              tr
                td
                  a(href="/#{page.slug}.html")= page.title
                td= page.slug
