extends ../layouts/docs

block var
  - js = ['/bower/marked/marked.min.js']

block actions
  a(href="/edit/#{doc.slug}.html").bt.rd.i Edit

block content
  if err
    .ab.e #{err}
      a.x(href="#") &times;
  else
    != body